*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

@media (max-width:350px) {

    .servico{
        width: 350px;
        margin-bottom: 1em;
    }
    
}

@media (max-width: 913px) {
    .advogado{
        margin-top: 1em;
     }
    
}


@media (min-width:600px) {

    li{
        margin-left: 2em;
    }

   
}

.sessao-principal{
    background-size: cover;
    padding-bottom: 300px;
    background-color: rgba(0, 0, 0, 0.692);
}

.sessao-principal-bg{
    background: url(../img/Deusa-da-justiça.webp)  no-repeat;
    background-size: cover;
}

.servico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 390px;
    height: 400px;
    padding: 10px 10px 40px 10px;
}


.bg-sobre-nos-bem-vindo{
    background: url(../img/Deusa-da-justiça-photoaidcom-darken.webp);
    background-size: cover;
 

}

/* Equipe*/


.advogado{
    margin-left: 1em;
    width: 300px;
}

/* Media queries grandes telas*/

